@model Project_1.Models.DepartmentsDto
@{
    ViewBag.Title = "Details";
}

<a href="/Department/List">Go back to list</a>
<h2>@Model.DepartmentName</h2>
<div>Department Role: @Model.DepartmentRole</div>
<a href="/Department/Edit/@Model.DepartmentID">Edit</a>
<a href="/Department/DeleteConfirm/@Model.DepartmentID">Delete</a>




