
@{
    ViewBag.Title = "Create";
}

<h2>Create a Department</h2>
<form action="/Department/Create" method="POST">
    <div>
        <label>Department Name : </label> <input type="text" name="DepartmentName" />
    </div>
    <div>
        <label>Department Role : </label><input type="text" name="DepartmentRole" />
    </div>
    <div>
        <input type="submit" value="Add New Department"/>
    </div>

</form>

