@model Project_1.Models.EmployeeDto
@{
    ViewBag.Title = "Details";
}
<a href="/Employee/List">Go back to list</a>
<h2>@Model.EmployeeName</h2>
<div>Position: @Model.EmployeePosition</div>
<div>Department: @Model.DepartmentName</div>

