@model IEnumerable<Project_1.Models.DepartmentsDto>
@{
    ViewBag.Title = "New";
}

<h2>Create Employee</h2>
<form action="/Employee/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="EmployeeName"/>
    </div>
    <div>
        <label>Position:</label><input type="text" name="EmployeePosition" />
    </div>
    <div>
        <label>Departments:</label>
        <select name="DepartmentID">
            @foreach (var Department in Model)
            {
                <option value="@Department.DepartmentID">@Department.DepartmentName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Employee"/>
    </div>

</form>

