@model Project_1.Models.ManagerDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>
<a href="/Manager/List">Go back to list</a>
<a href="/Manager/DeleteConfirm/@Model.ManagerID">Delete</a>
<h3> Are You sure want to delete Manager?</h3>
<h2>@Model.ManagerID@Model.ManagerName</h2>
<div>Position Titile: @Model.ManagerPosition</div>
<div>Branch location: @Model.ManagerBranch</div>


<form action="/Manager/Delete/@Model.ManagerID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

