@model Project_1.Models.ManagerDto
@{
    ViewBag.Title = "Details";
}

<a href="/Manager/List">Go back to list</a>
<h2>@Model.ManagerName</h2>
<div>Position Title : @Model.ManagerPosition</div>
<div>Branch Location : @Model.ManagerBranch</div>


